@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800&display=swap');

:root {
    --amarillo: #FCA70C;
    --azul: #133B4F;
    --negro: #000000;
    --gris: #8E8E8E;
    --otrogris: #3A3A3A;
    --blanco: #FFFFFF;
    --lila: #645DBA;
    --lilaclaro: #eae6ff;
    --Morado:#5C3E63;
}  
body {
    
    background: url("../img/fondoazul.png") no-repeat center  ;
  
}
header{
    margin-top: 8%;
}
.container {
    width: 553.039px;
    
    background:#ffffff11 url("../img/ContainerAzul.png")no-repeat ;
    margin: 0 auto;
    box-shadow: 1px 8px 10px 1px rgb(27, 27, 27);
    
}


header .logo{
    width: 11.8px;
    padding-top: 20px;
}
header .logoletra{
    font-size: 12.7px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #494241;
    margin-top: -19px;
    margin-left: 15px;
}


.navbar {
    
    color: #494241;
    font-size: 7.50px;
    padding-left: 315px;
    bottom: auto;
    word-spacing: 15px;
    cursor: pointer;
    margin-top: 20px;

}
.navbar .letra{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #494241;
}
.navbar .home{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #494241;
}

.navbar .icone{
    color: #494241;
}
.search{
    color: #494241;
    width: 8.135px;
    cursor: pointer;
    font-weight: bold;
}

article{
   margin-top: -20px; 
   margin-left: 22.16px;
}
article .Motion {
    font-family: 'Libre Franklin', sans-serif;
    font-weight:  800;
    font-size: 32.59Px;
    color: #050007;
    margin-bottom: -1%;  
    margin-top: 80px;
    margin-left: -2px ;  
}
article .parrafo{
    padding-right: 75%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding-top: 15px;
    margin-top: 15px;
    font-size: 6.21px;
    color: #000000;
}

article .Marketing {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 8px;
    color: #5B3664;
    padding-top:10px;
    
}
article .iconoos{
    color: #FCA70C;
    margin-top: 100px;
}
article button{
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 400;
    color: var(--blanco);
    position: absolute;
    background: #FB961E;
    margin-top: 5%;
    padding-top: 10px;
    padding-right: 4px;
    padding-left: 9px;
    font-size: 8px;
    margin-top: 50px;
    border-radius: 30px;
    position: absolute;
    padding: 7px 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

a {
    text-decoration: none;
  }

ul > li {
    display: inline;
    cursor: pointer;
}
.clear {
    clear: both;
  }
.imgfondo{
    width: 300px;
}
nav{
    margin-top: -35px;
    padding-right: 40px;
}

header{
   
    margin-left: 20px;
    padding-top: 1px;

}


aside{
    margin-left: 274px;
    margin-top: -18%;

    
}

.img{
   margin-left: -98%;
   margin-top: -27.5%;
   margin-bottom: -4px;
   
   
    
}
footer{
    margin: 0 auto;
    color: #eae6ff;
    margin-left: 45%;
    
}

